@charset "UTF-8";

/* Formatação das Fotos  */
div#album-fotos {    
    width: 1190px;
    background-color: white;
    margin: 0 auto;
    box-shadow: none;
    padding: 15px;
    display: block;
    border: 5px solid white;
    box-shadow: 1px 1px 3px rgba(0,0,0,.9);
    -webkit-transition: all 0.6s ease-in;   
}

div#album-fotos :hover {
    -webkit-transform: scale(1.2);

}

img.icone {
    image-orientation: 90deg;
    width: 260px;
    height: 260px;
    margin: 11px;
    background-position: 0px 0px;
    background-size: 200px 200px;
    border: 5px solid white;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
}




