@charset "UTF-8";



/*
img#icone1 {
    height: 250px;
    width: 200px;
    background-color: white;
    margin: 15px;
    padding: 14px;
    margin-top: 30px;
}
img#icone2 {
    height: 250px;
    width: 200px;
    background-color: white;
    margin: 15px;
    padding: 14px;
    margin-top: 30px;
}*/

article#corpo {
    min-width: 50vw;
    min-height: 10vw;
    float: right;
    padding: 15px;
    text-align: justify;   
    font-size: 16pt;
    font-family: times;
    background-color: rgba(255, 255, 255, 0.822); 
    box-shadow: none;
    display: block;
    border: 5px solid white;
    box-shadow: 1px 1px 3px rgba(0,0,0,.9);
    /*
    
    
}



